<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
<h4>Авторизация</h4>



<form th:method="POST" th:action="@{/login}">

    Username: <input name="username"><br>
    Password: <input name="password"><br>

    <input type="submit" value="Sign in"/>
</form>

<form th:action="@{/registration}">
    <input type="submit" value="Registration">
</form>

</body>

</html>